/* FORMULAIRES : ELEMENTS COMMUNS */ 

.nousrencontrer-contact input.wpcf7-text, .nousrencontrer-contact textarea.wpcf7-textarea, .commander-commande input.wpcf7-text, .commander-commande textarea.wpcf7-textarea {
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
}

.nousrencontrer-contact input.wpcf7-text, .commander-commande input.wpcf7-text, .nousrencontrer-contact textarea.wpcf7-textarea, .commander-commande textarea.wpcf7-textarea {
    font-size: 20px;
}

.nousrencontrer-contact input.wpcf7-text, .commander-commande input.wpcf7-text  {
    height: 71px;
}

.nousrencontrer-contact textarea.wpcf7-textarea, .commander-commande textarea.wpcf7-textarea {
    height: 237px;
}

.nousrencontrer-contact p, .commander-commande p {
    padding-top: 20px;
}

.nousrencontrer-contact input.wpcf7-submit, .commander-commande input.wpcf7-submit {
    display: block;
    margin: auto;
    padding: 9px 72px;
}