/* PAGE D'ACCUEIL */

/* BLOC INTRO */

.bloc__container.accueil-intro {
    padding-bottom: 0px;
}
@media all and (max-width: 750px) { .bloc__container.accueil-intro { padding-bottom: 100px; } }
@media all and (max-width: 550px) { .bloc__container.accueil-intro { padding-bottom: 0px; } }

h1.accueil-titre {
    color: var(--secondary-color);
    margin-bottom: 100px;
}
@media all and (max-width: 950px) { h1.accueil-titre { padding: 40px 0 30px; } }
@media all and (max-width: 820px) { h1.accueil-titre { padding: 30px 0 20px; } }
@media all and (max-width: 780px) { h1.accueil-titre { padding: 30px 0 10px; } }
@media all and (max-width: 550px) { h1.accueil-titre { padding: 30px 0 0px; } }

/* VISUELS BLOC INTRO */ 

.feuilles-canette { 
    padding-top: 3em;
}
@media all and (max-width: 1250px) { .feuilles-canette { max-width:50%; padding-top: 10px; } }
@media all and (max-width: 950px) { .feuilles-canette { max-width:50%; padding-top: 0em; } }
@media all and (max-width: 550px) { .feuilles-canette { display:none!important; } }

.feuilles-d {
    margin-left: -10px;
}

.feuilles-g {
    margin-right: -10px;
}

.canette {
    position: absolute;
}

@media all and (max-width: 1250px) { .canette { width: 220px; height: auto; } }
@media all and (max-width: 1100px) { .canette { width: 200px; height: auto; } }
@media all and (max-width: 1000px) { .canette { width: 180px; height: auto; } }
@media all and (max-width: 950px) { .canette { width: 160px; height: auto; } }
@media all and (max-width: 820px) { .canette { width: 140px; height: auto; } }

/* Remplacement Canette + feuilles > vignette accueil */

@media all and (max-width: 550px) { .canette { display:none!important; } }
@media all and (min-width: 550px) { .vignette-accueil { display:none!important; } }

/* Blocs HTML ligne foncée */

#ligne_fonce_1, #ligne_fonce_2  { 
    border-radius: 0px 0px 800px 800px / 0px 0px 40px 40px;
    border-width : 0px 0px 80px 0px;
    border-style: solid;
    background-color: #ece2da;
    position:relative;
    content:"";
}
@media all and (max-width: 750px) { #ligne_fonce_1, #ligne_fonce_2 { display: none; } }

#ligne_fonce_1  { 
    border-color:  #ece2da;
    margin-bottom: -95px;
    z-index:1;
}

#ligne_fonce_2  { 
    border-color: #e3d9d0;
    background-color: #E3D9D0;
    height: 10px;
    z-index:0;
    margin-bottom: -95px;
}

/* BLOC ENERGIE */

.accueil-energie {
    margin-top: 95px;
}
@media all and (max-width: 750px) { .accueil-energie { margin-top: 25px; } }

.accueil-energie h2 {
    margin-bottom: 30px;
}

.accueil-energie p {
    line-height: 24px;
}

/* BLOC PARFUMS */

.accueil-parfums {
    max-width:950px;
    margin:auto;
}

.wp-block-group.accueil-parfums {
    margin-top: 0;
    margin-bottom: 10px;
}
@media all and (max-width: 820px) {
    .wp-block-group.accueil-parfums .wp-block-cover:not(.is-light) { margin-left: 10px; }
    .wp-block-group.accueil-parfums .wp-block-cover.is-not-light { margin-left: 20px; }
    .wp-block-group.accueil-parfums .wp-block-cover.is-light { margin-right: 10px; }
}
@media all and (max-width: 750px) {
    .wp-block-group.accueil-parfums .wp-block-cover:not(.is-light), .wp-block-group.accueil-parfums .wp-block-cover.is-not-light, .wp-block-group.accueil-parfums .wp-block-cover.is-light {
        margin: 0; }
}

.accueil-parfums .wp-block-cover {
    width:400px;
    max-height:262px;
}

.accueil-parfums .wp-block-cover, .accueil-parfums .wp-block-cover-image {
    min-height: 250px;
}

.accueil-parfums .wp-block-cover p {
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}
@media all and (max-width: 820px) { .accueil-parfums .wp-block-cover p { font-size: 40px; line-height: 1.2em; } }
@media all and (max-width: 400px) { .accueil-parfums .wp-block-cover p { font-size: 30px; line-height: 1.2em; } }

/* BLOC TEMOIGNAGES */

.bloc__container.accueil-temoignages {
    padding: 80px 0 0;
}
@media all and (max-width: 820px) { .bloc__container.accueil-temoignages { padding: 50px 0 0px; } }

.accueil-temoignages h3 {
    color: var(--secondary-color);
    padding-bottom: 50px;
}

/* Rangée de témoignages */

.accueil-testimonials {
    padding-bottom: 300px;
    justify-content: space-around! important;
}
@media all and (max-width: 1100px) { .accueil-testimonials { justify-content: center! important; padding-bottom: 200px; } }
@media all and (max-width: 400px) { .accueil-testimonials { padding-bottom:100px; } }

.accueil-testimonials .wp-block-media-text.alignwide {
    max-width: 345px;
    padding-bottom: 30px;
}

.accueil-testimonials .wp-block-media-text .wp-block-media-text__content {
    padding: 18px;
}

.accueil-testimonials .wp-block-media-text__content p.has-large-font-size {
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 36px;
}

.accueil-testimonials .wp-block-media-text__content p {
    font-size: 16px;
    margin: 5px auto;
    line-height: 19.2px;
}